<br>

<div class="card text-center">

  <div class="card-header header_footer">
  <h1 class="card-title titulos">Editar Edificio</h1>
  <p class="link_show_edit"><%= link_to '[ Mostrar ]', @building %></p>
  </div>
  <div class="card-body">
    <p id="notice"><%= notice %></p>
    <table class="table table-bordered"><br>
      <thead>
        <tr>
          <th><%= render 'form', building: @building %></th>
        </tr>
      </thead>
    </table>
    <br><br>
    <div class="float-end card_apartments_space">
    <%= link_to buildings_path, class:"btn btn-light" do %>
    <i class="bi bi-arrow-left-square"></i> Volver
    <% end %>
    </div>
  </div>
  <%= render "layouts/card_footer" %>
</div>
