
<br>

<div class="card text-center">

  <div class="card-header">
    <br>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="card-body">
    <h1 class="card-title">
      <%= @building.nombre %>
    </h1>
    
    <table class="table table-bordered"><br>
      <thead>
        <p>
          <strong>Direccion:</strong>
          <%= @building.direccion %>
        </p>
        <p>
          <strong>Ciudad:</strong>
          <%= @building.ciudad %>
        </p>
        <%# <% @apartments.each do |apartment| %>
              <td>
              <strong>Departamentos N°:</strong>
              1, 2, 3 
              </td>
              <%# <% end %> 
      </thead>


    </table><br><br>
    <div class="float-end">
    <%= link_to 'Editar', edit_building_path(@building) %> |
    <%= link_to 'Atrás', buildings_path %>
    </div>
    <br>
    
    
  </div>
  <%= render "layouts/card_footer" %>
</div>