


<br>

<div class="card text-center">

  <div class="card-header header_footer">
    <h1 class="card-title titulos">Departamentos</h1>
  </div>
  <div class="card-body">
    <div class="float-end"><%= link_to 'Nuevo Departamento', new_apartment_path, class: 'btn btn-primary btn-sm'%></div> 
    <br>
    <p id="notice"><%= notice %></p>
    
    <table class="table table-bordered"><br>
      <thead>
        <tr>
          <th>N° Referencia</th>
          <th>Nombre Edificio</th>
          <th>Número Departamento</th>
          <th colspan="3">Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @apartments.each do |apartment| %>
          <tr>
            <td><%= apartment.building_id %></td>
            <td><%= apartment.building.nombre %></td>
            <td><%= apartment.numero %></td>
            
            <td class="link_show_edit"><%= link_to apartment do %>
            <i class="bi bi-eye-fill"></i> Mostrar <% end %>
            </td>

            <td class="link_show_edit"><%= link_to edit_apartment_path(apartment) do %>
            <i class="bi bi-pencil-square"></i> Editar <% end %>
            </td>

            <td class= "link_delete">
            <%= link_to apartment, method: :delete, data: { confirm: 'Estás seguro que deseas borrar el departamento?' } do%>
            <i class="bi bi-trash-fill"></i> Eliminar<% end %>
            </td>  
          
          </tr>
        <% end %>
        
      </tbody>
    </table><br><br>
    <div class="float-end"><%= link_to 'Nuevo Departamento', new_apartment_path, class: 'btn btn-primary btn-sm'%></div><br>
    
    
  </div>
  <%= render "layouts/card_footer" %>
</div>