
<br>

<div class="card text-center">

  <div class="card-header header_footer">
    <%= link_to building_path do %>
      <h1 class="card-title titulos">
        <%= @apartment.building.nombre %>
      </h1>
    <% end %>
    <p>
          <strong>N° Referencia Edificio:</strong>
          <%= @apartment.building_id %>
        </p>
    <p class="link_show_edit">
      <%= link_to edit_apartment_path(@apartment) do %>
        <i class="bi bi-pencil-square"></i> Editar 
      <% end %>
    </p>
  </div>
  <div class="card-body">
    <p id="notice"><%= notice %></p>

    <div class="card-body">
      <div class="row justify-content-center">
          <div class="card col-3 ">
            
            <img src="https://scontent-scl2-1.xx.fbcdn.net/v/t1.6435-9/244792126_10159675366314675_7619982100937089672_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=0debeb&_nc_ohc=MiOSYwRIopQAX--H5UU&_nc_ht=scontent-scl2-1.xx&oh=ea9e737cd8b8ad01e42aa1b672bdbdf5&oe=61861523" class="d-block w-100">
            
              <h5 class="card-title">
              DEPARTAMENTO N°
                <%= @apartment.numero  %>
              </h5>
            
          </div>
      </div>
  </div>

  <br>

  <div class="float-end card_apartments_space">
  <a href="javascript:history.back()" class="btn btn-light">
  <i class="bi bi-arrow-left-square"></i> Volver
  </a>
  </div>

  </div>
  <br><br><br>
  <%= render "layouts/card_footer" %>
</div>