
<br>

<div class="card text-center">

  <div class="card-header">
    <br>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="card-body">
    <h1 class="card-title">
      <%= @apartment.building.nombre %>
         [ <%= @apartment.building_id %> ]
        
    </h1>
    
    <table class="table table-bordered"><br>
      <thead>
        <p>
          <strong>Edificio:</strong>
          <%= @apartment.building_id %>
        </p>

        <p>
          <strong>Departamento Número:</strong>
          <%= @apartment.numero %>
        </p>

      </thead>


    </table><br><br>
    <div class="float-end">
    <%= link_to 'Editar', edit_apartment_path(@apartment) %> |
    <%= link_to 'Atrás', apartments_path %>
    </div>
    <br>
    
    
  </div>
  <%= render "layouts/card_footer" %>
</div>